@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: rgb(237, 237, 237);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.main {
    background-color: #fff;
    width: 70vw;
    padding: 20px 100px;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px rgba(204, 204, 204, 0.372);
    overflow: hidden;
}

.header {
    background-color: rgb(93, 93, 93);
    width: 100%;
    margin:-20px 0px 30px -100px;
    height: 50px;
    width: 85vw;
    padding: 40px 100px;
    color: #fff;
}

.addbook {
    border: 1px solid #dddddd;
    padding: 20px;
}

.form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.addbook input, #read{
    width: 220px;
    display: block;
    margin: 10px 10px 10px 0;
    height: 30px;
}

#read {
    height: 36px;
}

#read, #pages {
    width: 130px;
}

.addbook label {
    font-weight: bolder;
}

.addbook button{
    height: 38px;
    margin-top: 30px;
    background-color: rgb(90, 184, 218);
    color: #fff;
    border: none;
    border-radius: 4px;
    width: 180px;
}



.formcontrol {
    display: flex;
    flex-wrap: wrap;
}

.error-message {
    visibility: hidden;
    font-size: 12px;
    color: red;
    margin-top: 0;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
  }

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  td:nth-child(4){
    text-align: center;
    width: 50px;
  }

  td:nth-child(5){
    text-align: center;
    width: 100px;
  }

  .del {
    background-color: rgb(243, 122, 122);
    color:#fff;
    border: none;
    height: 30px;
    border-radius: 4px;
  }