* {
    font-family:Arial, Helvetica, sans-serif
}

.addbook {
    width: fit-content;
    border: 1px solid black;
    padding: 20px;
}

.addbook input{
    display: block;
    margin: 10px 0;
}

.addbook button{
    margin-top: 20px;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 80%;
  }

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  